!!!5

//
// page.jade
//

html
    head
        title= "BeagleBone Black Flight Controller"
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/RGraph/libraries/RGraph.common.core.js')
        //script(src='/RGraph/libraries/RGraph.common.dynamic.js')
        //script(src='/RGraph/libraries/RGraph.common.annotate.js')
        //script(src='/RGraph/libraries/RGraph.common.context.js')
        //script(src='/RGraph/libraries/RGraph.common.effects.js')
        //script(src='/RGraph/libraries/RGraph.common.key.js')
        //script(src='/RGraph/libraries/RGraph.common.resizing.js')
        //script(src='/RGraph/libraries/RGraph.common.tooltips.js')
        //script(src='/RGraph/libraries/RGraph.common.zoom.js')
        script(src='/RGraph/libraries/RGraph.line.js')
        script(src='/RGraph/libraries/RGraph.gauge.js')
        script(src='/RGraph/libraries/RGraph.led.js')
        script(src='/RGraph/libraries/RGraph.rscatter.js')
        script(src='/RGraph/libraries/RGraph.odo.js')
        script(src='/client.js')
        link(href="stylesheets/client.css", rel="stylesheet")
    body
        header
            h1 BeagleBone Black Flight Controller
        #client.panel
            h2.users USERS
            #users
            - for (var i = 0; i < 6; ++i) {
                canvas.led(id='user'+i, width='150', height='20') [No canvas support]
                br
            - }

        #commands.panel
            h2 Commands
            #userInput
                input#data
                //input.imgButton#datasend(type='image', src='images/send.png', value='send')
                input#datasend(type='button', value='send')
                #systemInfo
                    h2 Log
                    #log
        
        #status.panel
            img.imgButton#led(src='images/telemetryOff.png')
            br
            img.imgButton#rocketmode(src='images/rocketModeOff.png')
            br
            img.imgButton#airplanemode(src='images/airplaneModeOff.png')
            
        #telemetry.panel
            h2#posdir Position and Direction
            canvas.rscatter#range(width='250', height='250') [No canvas support]
            canvas.odometer#compass(width='250', height='250') [No canvas support]
            
        #flightcontrol.panel
            input.imgButton#arm(type='image', src='images/armOff.png')
            input.imgButton#launch(type='image', src='images/launchOff.png')
            input.imgButton#failsafe(type='image', src='images/failsafeOff.png')
            input.imgButton#reset(type='image', src='images/resetOff.png')
            input.imgButton#info(type='image', src='images/versionOn.png')
            h2 Flight Controls
            canvas.gauge#ailerons(width='190', height='190') [No canvas support]
            canvas.gauge#elevator(width='190', height='190') [No canvas support]
            canvas.gauge#rudder(width='190', height='190') [No canvas support]
            h2 Telemetry
            canvas.gauge#altitude(width='190', height='190') [No canvas support]
            canvas.gauge#airspeed(width='190', height='190') [No canvas support]
            canvas.gauge#vertspeed(width='190', height='190') [No canvas support]
            canvas.gauge#slip(width='190', height='190') [No canvas support]
            canvas.gauge#aoa(width='190', height='190') [No canvas support]
            //canvas.gauge#acceleration(width='190', height='190') [No canvas support]
            h2 Flight Analysis
            canvas.linegraph#altitudehistory(width='315', height='150') [No canvas support]
            canvas.linegraph#velocityhistory(width='315', height='150') [No canvas support]
            canvas.linegraph#accelerationhistory(width='315', height='150') [No canvas support]