/*
 * Import nib
 *
 * Note the lack of vendor
 * prefixes. Nib will add
 * them for us
 *
 */
@import 'nib'

/*
 * Grab a custom font from Google

@import url('http://fonts.googleapis.com/css?family=Quicksand')
 */

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

/* header style information */
header
    padding             15px 10px
    color               #fff
    font-size           25px
    text-align          center

    /*
     * Note the use of the `main-color`
     * variable and the `darken` function
     */
    background-color    main-color
    border-bottom       1px solid darken(main-color, 30%)
    text-shadow         0px -1px 0px darken(main-color, 30%)

/* general style information */
body
    font-family 'Georgia'
    background-color background-color
    color #444

p
    line-height         1.8

h2
    margin-top          5px
    margin-bottom       5px
    font-size           larger
    font-weight         bold

/* style for RGraph components */
canvas
    padding             0px
    margin              0px

/* style information for the panels */
.panel
    float               left
    height              160px
    border-right        1px solid black
    padding             10px
    overflow            scroll-y

#users          /* user header */
    margin-top          10px

#controlPanel   /* control buttons */
    margin-top          17px

#client         /* client panel */
    width               150px
    border-bottom       1px solid black

#commands       /* commands panel */
    width               440px
    border-bottom       1px solid black

#status         /* status panel */
    width               325px
    border-right        1px solid black
    border-bottom       1px solid black

#flightcontrol  /* gauges panel */
    width               611px
    height              650px
    border-right        0px
    margin-top          0px

#telemetry      /* telemetry panel */
    width               326px
    height              650px

#analysis       /* logging panel */
    width               957px
    height              375px
    border-bottom       1px solid black
    margin-top          0px

#flightlog      /* flight analysis header */
    margin-bottom       10px

/* style information for the command input box */
#data
    width               200px

/* style information for the log file */
#log
    width               400px
    height              160px
    margin              0 0 20px 0
    border              1px solid black
    overflow-y          scroll

/* style information for the buttons (status panel) */
.imgButton
    width               88px
    height              42px
    border              0px
    padding             0px

/* footer style information */
footer
    width               500px
    margin              50px auto
    border-top          1px dotted #ccc
    padding-top         5px
    font-size           13px